body{
  background-color: #F5F0EB;
  color: #777;
  margin-bottom: 50px;
  padding-top: 50px;
}

/* css for header */
#top{
  background-color: #E0D6CC;
}
#form{
  padding-top: 8px;
}
#search{
  width: 400px;
}
#site-name{
  margin-left: 15px;
}

/* css for shelf */
#shelf-heading{
  margin-top: 5%;
  margin-bottom: 2%;
  border: 1px solid #F5F0EB;
  background-color: white;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
  font-size: 42px;
  box-shadow: 0px 2px 4px 0px #DCDCDC;
  font-family: tahoma;
}
#personal-col{
  text-align: center;
}
#personal-info{
  text-align: center;
  border: 1px solid #F5F0EB;
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px #DCDCDC;
  margin-bottom: 2%;
}
#personal-image{
  text-align: center;
  margin: auto;
}
#add-a-book{
  margin-left: auto;
  margin-top: auto;
  font-size: 20px;
  margin-bottom: 4%;
}
#book-search-button{
  float: right;
}
#all-books{
  margin-left: auto;
}
#book-shelf-info{
  text-align: center;
  border: 1px solid #F5F0EB;
  padding: 5px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px #DCDCDC;
  margin-bottom: 3%;
  margin-right: 5%;

}
#book-shelf-image{
  margin: auto;
}
#shelf-title{
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 50px;
}
#shelf-title:hover{
  overflow: visible;
}
#shelf-author{
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
}
#shelf-author:hover{
  overflow: visible;
}

/* css for display_search_result */
#book-search-box{
  margin-top: 2%;
  border: 1px solid #F5F0EB;
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px #DCDCDC;
}

/* css for book */
#book-page{
  margin-top: 2%;
}
#book-image-row{
  margin: auto;
}
#book-image{
  border: 1px solid #F5F0EB;
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px #DCDCDC;
  width: 160px;
}
#book-image-col-info{
  margin: auto;
  text-align: center;
  margin-bottom: 2%;
}
#book-info{
  border: 1px solid #F5F0EB;
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px #DCDCDC;
}
#book-title{
  margin: auto;
}
#book-author{
  margin: auto;
}
#book-publisher{
  margin: auto;
}
#book-description{
  margin: auto;
  text-align: justify;
}
#owner-heading{
  margin-top: 2%;
  border: 1px solid #F5F0EB;
  background-color: white;
  border-radius: 3px;
  text-align: left;
  padding: 10px;
  font-size: 36px;
  box-shadow: 0px 2px 4px 0px #DCDCDC;
  font-family: tahoma;
}
#all-owners{
  margin: auto;
}
#owner-image{
  width: 90px;
  border: 1px solid #F5F0EB;
  padding: 5px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px #DCDCDC;
  margin-bottom: 10%;
}

/*CSS for footer*/
.fad-footer {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
}
#bottom-navbar {
  background-color: #E0D6CC;
}

/*CSS for login*/
  .login-box {
    position: relative;
    top: 27%;
    background-color: white;
  }
  #login-page-container {
    height: 100%;
    width: 100%;
    background-image: url('/img/library.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
