
<div class="row" id="add-a-book">
  <form action="/search.php" method="get" class="form-inline">
    <span class="add">To add a book</span> &nbsp;
    <div class="form-group">
      <input type="Title" class="form-control" id="Title" name = "query_title" placeholder="Enter Title">
    </div>
    &nbsp; OR &nbsp;
    <div class="form-group">
      <input type="ISBN" class="form-control" id="ISBN" placeholder="Enter ISBN">
    </div> &nbsp;
    <button type="submit" class="btn btn-default">Search</button>
  </form>
</div>